@import "config";
@import "menu";
@import "mobile";

* {
  box-sizing: border-box;
}

body {
  @include background();
  background: $primary-color;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

//Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  } //& means a class attached to each of the headings so h1, h2 and h3. The '.' means a class. So, &. means a class attached to each heading

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

//Links and the Icons
a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  height: 100%;

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      } //same as saying a:hover but in sass & automatically represents the working(parent) tag. So this is a tags used within icons that are enclosed in main tag
    }
  } //This will only affect the class inside the main tag so icons enclosed within the main tag

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}
